.app {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.app-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
  background-color: lightblue;
  padding: 0 15px;
  align-items: center;
}

.logo {
  font-size: 2em;
  font-weight: bold;
}

.app-body{
  display: flex;
  flex-direction: row;
  height: 100%;
}




/*@media (prefers-reduced-motion: no-preference) {*/
  /*.App-logo {*/
    /*animation: App-logo-spin infinite 20s linear;*/
  /*}*/
/*}*/

/*@keyframes App-logo-spin {*/
  /*from {*/
    /*transform: rotate(0deg);*/
  /*}*/
  /*to {*/
    /*transform: rotate(360deg);*/
  /*}*/
/*}*/
