.nav-bar {
    width: 140px;
    background-color: grey;
    height: 100%;
}

.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-item {
    display: flex;
    justify-content: center;
    align-content: center;
    border-bottom: 1px solid black;
}

.nav-item:last-child {
    border-top: 0;
}
